.header-container{
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--header-text-color);
    background-color: rgba(179, 206, 193, 0.659);
    
}
.navbar-brand{
    font-size: 2rem;
    color: var(--header-text-color);
    font-weight: 600;
}
#navbarNav{
    justify-content: end;
}
.navbar-nav{
    display: flex;
    list-style: none;
    gap: 2rem;
}
a.nav-link{
    color: var(--header-text-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}
a.nav-link:hover{
    text-decoration:underline;
}

@media screen and (max-width:1120px){
    .navbar-brand{
        font-size: 1.5rem;
    }
    a.nav-link{
        font-size: 1rem;
    }
}
@media screen and (max-width:795px){
    .burger-icon{
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    .nav-list{
        display: none;
    }
}