.roomPage-container{
    margin: 3rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2rem;
    align-items: center;
}

@media screen and (max-width:1070px){
    .roomPage-container{
        margin: 3rem 4rem;
    }
}
@media screen and (max-width:810px){
    .roomPage-container{
        margin: 3rem 2rem;
    }
}